.App {
  text-align: center;
}

.poster {
  height: 300px;
  width: 250px;
  object-fit: cover;
}

.title {
  display: inline;
}

.summary {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}